extends ../layout

block content
    div(class="large-2 columns sidebar-menu")
        ul
            li
                a(href="/admin/buildings", class="active") Admin Dashboard
            li
                a(href="/admin/buildings") Add Admin
            li
                a(href="/admin/buildings") Manage Buildings
            li
                a(href="/admin/buildings") Manage Groups
            li
                a(href="/admin/buildings") Manage Positions

    div(class="large-10 columns")
        div(class="row")
            div(class="large-12 columns")
                h3 Statistics
                div(class="info-panel clearfix")
                    div(class="panel-card large-3 columns")
                        h4 Events
                        p= eventCount
                    div(class="panel-card large-3 columns")
                        h4 Users
                        p= userCount
                    div(class="panel-card large-3 columns")
                        h4 Notifications
                        p= notificationCount
                    div(class="panel-card large-3 columns")
                        h4 Admins
                        p= adminCount

                h3(class="manage-admin-header") Manage Admins

                table(class="user-accounts admin-table")
                    thead
                        tr
                            th
                            th(class='sort-click') First Name
                            th(class='sort-click') Last Name
                            th(class='sort-click') Email
                    tbody
                        each admin in admins
                            tr
                                td(class="center-links" user="#{admin.id}")
                                    a(href="/admin/edit?id=#{admin.id}")
                                        i(class='fa fa-pencil-square-o')
                                td= admin.firstname
                                td= admin.lastname
                                td= admin.email

