extends ../layout

block content
    ol(class="breadcrumb bc-3")
        li
            a(href="/") Home
        li
            a(href="/staff") Settings

    h2 Manage Administrators
    br
    div(class="row")
        div(class="col-md-8")
            table(class="table table-bordered")
                thead
                    tr
                        th
                        th
                        th First Name
                        th Last Name
                        th Email Address
                tbody
                    each admin in admins
                        if admin.email == user.email
                            tr
                                td(class="align-center")
                                    a(href="/profile")
                                        i(class="entypo-pencil")
                                td(class="align-center")
                                    a(href="#", class="disabled-anchor")
                                        i(class="entypo-cancel-circled")
                                td= admin.firstname
                                td= admin.lastname
                                td= admin.email
                        else
                            tr
                                td
                                td
                                td= admin.firstname
                                td= admin.lastname
                                td= admin.email
    div(class="row")
        div(class="col-sm-12")
            a(id="remove-events-button" class="staff-btn btn-lg btn btn-default btn-icon") Remove All Events
                i(class="entypo-calendar")

block modals
    div(class="modal fade", id="remove-events-modal")
        div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                    h4(class="modal-title") Remove All Events
                div(class="modal-body")
                    != "Are you sure you want to remove all events? This action cannot be undone."
                div(class="modal-footer")
                    button(type="button" class="btn btn-default" data-dismiss="modal") Close
                    button(type="button" id="remove-all-button" class="btn btn-red") Remove All

block scripts
    script.
        $(document).ready(function() {
            new HousingManager({ settings: true });
        });
