extends layout

block content
    h3(class="day-header")= header
    div(class="small-12 large-12 large-centered columns")
        table(class="day-table")
            thead
                tr
                    th
                    th
                    th(class="fit-content") Earliest Start Time
                    th(class="fit-content") Latest End Time
                    th Staff
                    th Place
                    th Event
            tbody       
            each eventHeader in eventHeaders
                tr(class="#{eventHeader.mealColor}")
                    td(class="fit-content")
                        a(href="/edit?linkingId=#{eventHeader.linkingId}")
                            i(class='fa fa-pencil-square-o')
                    td(class="fit-content")
                        a(href="#", class="remove-event-link", linkingId="#{eventHeader.linkingId}")
                            i(class="fa fa-times")
                    td(class="fit-content")= eventHeader.startTime
                    td(class="fit-content")= eventHeader.endTime
                    td= eventHeader.staff
                    td= eventHeader.location
                    if eventHeader.longDescription
                        td(class="desc-td")!= '<b>' + eventHeader.title + '</b><br />' + 'See below for details...'
                    else
                        td(class="desc-td")!= '<b>' + eventHeader.title + '</b><br />' + eventHeader.description.replace(/\n/g, '<br />')

        each eventHeader in eventHeaders
            if eventHeader.longDescription
                div(class="small-12 large-11 columns large-centered")
                    p(class="long-desc")!= eventHeader.description.replace(/\n/g, '<br />')

block scripts
    script.
        $(document).ready(function() {
            var hm = new HousingManager({ page: 'dayView' });
        });