extends ../layout

block stylesheets
    link(rel="stylesheet" href="/assets/js/select2/select2-bootstrap.css")
    link(rel="stylesheet" href="/assets/js/select2/select2.css")

block content
    ol(class="breadcrumb bc-3")
        li
            a(href="/") Home
        li
            a(href="/staff") Staff Members
        li(class="active")
            a(href="#") Edit Staff Member

    h2 Edit Staff Member
    br

    div(class="row")
        div(class="col-md-8 col-lg-6")
            div(class="panel panel-primary")
                div(class="panel-heading")
                    div(class="panel-title") Edit Staff Member

                div(class="panel-body")
                    form(role="form", class="", id="staff-form")
                        input(type="hidden", name="id", value=userEdit.id, id="userid")
                        div(class="row")
                            div(class="col-md-6")
                                div(class="form-group")
                                    label(class="control-label" for="firstName") First Name
                                    input(type="text", class="form-control", name="lastName", id="firstName", data-validate="required", autocomplete="off", value=userEdit.firstname)
                            div(class="col-md-6")
                                div(class="form-group")
                                    label(class="control-label", for="lastName") Last Name
                                    input(type="text", class="form-control", name="lastName", id="lastName", data-validate="required", autocomplete="off", value=userEdit.lastname)
                        div(class="row")
                            div(class="col-md-8")
                                div(class="form-group")
                                    label(class="control-label", for="email") Crimson Email Address
                                    input(type="text", class="form-control", name="email", id="email", data-validate="required", autocomplete="off", value=userEdit.email)
                            div(class="col-md-4")
                                div(class="form-group")
                                    label(class="control-label", for="room") Room Number
                                    input(type="text", class="form-control", name="room", id="room", data-validate="required", autocomplete="off" value=userEdit.room)
                        div(class="row")
                            div(class="col-md-6")
                                div(class="form-group")
                                    label(class="control-label", for="position") Position
                                    select(name="position", id="position" class="select2", data-allow-clear="true", data-placeholder="Select Position")
                                        option
                                        each position in positions
                                            if userEdit.positionid == position.id
                                                option(value=position.id, selected="selected")= position.name
                                            else
                                                option(value=position.id)= position.name
                            div(class="col-md-6")
                                div(class="form-group")
                                    label(class="control-label", for="experience") Experience
                                    select(name="experience", id="experience", class="select2 no-search", data-allow-clear="true", data-placeholder="Select a Position")
                                        option
                                        if userEdit.experience == 0
                                            option(value="0", selected="selected") New Staff
                                            option(value="1") Returning Staff
                                        else
                                            option(value="0") New Staff
                                            option(value="1", selected="selected") Returning Staff
                        div(class="row")
                            div(class="col-md-12")
                                div(class="form-group")
                                    label(class="control-label") Building
                                    select(name="building", id="building", class="select2", data-allow-clear="true", data-placeholder="Select Building")
                                        option
                                        each building in buildings
                                            if userEdit.buildingid == building.id
                                                option(value=building.id, selected="selected")= building.name
                                            else
                                                option(value=building.id)= building.name
                        div(class="row")
                            div(class="col-md-12")
                                div(class="form-group")
                                    label(class="control-label" for="groups") Groups
                                    select(name="groups", id="groups", class="select2", multiple)
                                        each group in groups
                                            if userEdit.groups.indexOf(group.id) != -1
                                                option(value=group.id, selected="selected")= group.name
                                            else
                                                option(value=group.id)= group.name
                        div(class="row")
                            div(class="col-md-6")
                                div(class="form-group")
                                    button(type="submit", class="staff-btn btn btn-default btn-icon") Edit Staff Member
                                        i(class="entypo-user-add")


block scripts
    script(src="/js/housing.js")
    script(src="/assets/js/select2/select2.min.js")
    script.
        $(document).ready(function() {
            new HousingManager({
                editStaff: true
            });
        });





