extends ../layout

block stylesheets
    link(rel="stylesheet" href="assets/js/daterangepicker/daterangepicker-bs3.css")
    link(rel="stylesheet" href="/assets/js/wysihtml5/bootstrap-wysihtml5.css")

block content
    ol(class="breadcrumb bc-3")
        li
            a(href="/") Home
        li(class="active")
            a(href="/Schedule") Schedule Information

    h2 Schedule Information
    br
    div(class="row")
        div(class="col-md-10")
            div(class="panel panel-primary")
                div(class="panel-heading")
                    div(class="panel-title") Set Schedule Information

                div(class="panel-body")
                    form(id="schedule-update-form" role="form")
                        div(class="row")
                            div(class="col-md-6")
                                div(class="form-group")
                                    label(class="control-label") Schedule Title
                                    input(type="text", id="title" class="form-control input-lg", data-validate="required", autocomplete="off", value=schedule.title)
                        div(class="row")
                            div(class="col-md-6")
                                div(class="form-group")
                                    label(class="control-label") Start/End Time
                                    div(id="schedule-time" class="daterange daterange-inline" data-format="MMMM D, YYYY" data-start-date=schedule.startDate data-end-date=schedule.endDate)
                                        i(class="entypo-calendar")
                                            span(id="housing-date-picker")!= schedule.startDate + " - " + schedule.endDate
                        div(class="row")
                            div(class="col-sm-12")
                                div(class="form-group")
                                    label(class="control-label") Schedule Header
                                    textarea(class="form-control" rows="10" name="description" id="description")= schedule.description
                        div(class="row")
                            div(class="col-sm-12")
                                button(type="submit", class="staff-btn btn-lg btn btn-default btn-icon") Update Schedule
                                    i(class="entypo-calendar")

block scripts
    script(src="/assets/js/moment.min.js")
    script(src="/assets/js/bootstrap-datepicker.js")
    script(src="/assets/js/daterangepicker/daterangepicker.js")
    script(src="https://cdn.tinymce.com/4/tinymce.min.js")
    script.
        new HousingManager().editSchedule();
        $(document).ready(function() {
            tinymce.init({
                selector: '#description',
                elementpath: false,
                menubar: '',
                setup: function(editor) {
                    editor.on('change', function () {
                        editor.save();
                    });
                }
            });
        });
