extends ../layout

block stylesheets
    link(rel="stylesheet" href="assets/js/datatables/datatables.css")
    link(rel="stylesheet" href="assets/js/select2/select2-bootstrap.css")
    link(rel="stylesheet" href="assets/js/select2/select2.css")

block content
    ol(class="breadcrumb bc-3")
        li
            a(href="/") Home
        li(class="active")
            a(href="/users") Users

    h2 Users
    br

    table(class="table table-bordered datatable", id="user-table")
        thead
            tr
                td Last Name
                td First Name
                td Email
                td Position
                td Building
                td Room Number
                td Experience
        tbody
            each user in users
                tr
                    td= user.lastname
                    td= user.firstname
                    td= user.email
                    td= user.position
                    td= user.building
                    td= user.room
                    td= user.experience
        tfoot
            tr
                td Last Name
                td First Name
                td Email
                td Position
                td Building
                td Room Number
                td Experience


 block scripts
    script(src="assets/js/datatables/datatables.js")
    script(src="assets/js/select2/select2.min.js")
    script.
        $(document).ready(function() {
            var userTable = $('#user-table');

            userTable.DataTable( {
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "bStateSave": true
            });

            userTable.closest( '.dataTables_wrapper' ).find( 'select' ).select2( {
                minimumResultsForSearch: -1
            });
        });
